@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  background: transparent;
  border: none;
  outline: none;
}

:root {
  --color-dark: #263238;
  --color-light: #eceff1;
  --color-medium: #ededed;
}

body {
  font-family: "Poppins", sans-serif;
  background: #e8ebf7;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.App {
  margin: 10rem;
}

.App header {
  text-align: center;
  margin-bottom: 1rem;
}

.App .suggestions {
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.App input,
.App button:not(:first-of-type) {
  border: 1px solid var(--color-dark);
  border-radius: 0.25rem;
  width: 100%;
}

.App input,
.App button {
  padding: 1rem;
}

.App button:first-of-type {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.App .suggestion {
  cursor: pointer;
  transition: all 250ms ease;
  border: 1px solid var(--color-dark);
  border-top: none;
  text-align: left;
}

.App .suggestion:hover,
.App .suggestion:focus {
  background: var(--color-dark);
  color: var(--color-light);
}
